@model WebApp_MVC_L57_Code_31523.Models.tblEmployee
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Employee", FormMethod.Post))
{
    <table>
        <tr>
            <td>Name:</td>
            <td>@Html.TextBoxFor(a => a.Name)</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>@Html.TextBoxFor(a => a.Age)</td>
        </tr>
        <tr>
            <td>City:</td>
            <td>@Html.TextBoxFor(a => a.City)</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save" /></td>
        </tr>
    </table>

}

